kind: Service
apiVersion: v1
metadata:
  name: {{ .Release.Name }}-onboard-server
  annotations:
    cloud.google.com/l4-rbs: "enabled"
  labels:
    app: {{ .Chart.Name }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    component: onboard-server
    release: {{ .Release.Name }}
spec:
  ipFamilies:
    - IPv6
  type: LoadBalancer
  loadBalancerIP: {{ .Values.static_external_ip }}
  externalTrafficPolicy: Cluster
  selector:
    app: {{ .Chart.Name }}
    component: onboard-server
    release: {{ .Release.Name }}
  ports:
  - name: onboard
    port: {{ .Values.self.service_provider_port }}
