/*
BOUVET FARGER
#11133C   #F9EAD4   #010203   #FFFFFF

#F9A86F

#0617BF   #1D43C6   #79FE9D   #C3D5E1   #EDF5FA   #F2F2F2
*/

body {
  margin: 0;
  font-family: inter; /* Bouvets font */
  /*
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.topnav {
  background-color: #F9A86F; 
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #F9EAD4;
  color: black;
}

.topnav a.active {
  background-color: #F9EAD4;
}

.tablemain{
  display: table;
  overflow-x: auto;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
}
.tablemain td, #table-main th {
  border: 1px solid #ddd;
  padding: 8px;
}

.tablemain tr:nth-child(even){background-color: #EDF5FA;}
.tablemain tr:hover {background-color: #C3D5E1;}
.tablemain th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 8px;
  text-align: left;
  background-color: #11133C;
  color: white;
}
nav {
  height: 40px;
  padding-top: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  background: #11133C;
  box-shadow: 0 5px 10px #ccc;
}

/* Basic styles for nav links */
nav a {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  height: 100%;
  text-decoration: none;
}

/* Specific styles for non-active links */
.link {
  color: white;
}

/* Specific styles for active links */
.link-active {
  color: white;
  background: #F9A86F;
}

.content {
  margin-top: 50px;
  text-align: center;
}

.routes-padding {
  padding-left: 11%;
}
